[p√°g web](https://towardsdatascience.com/pandas-index-explained-b131beaf6f7b)

In [1]:
import pandas as pd
#adult  = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", names = ['age','workclass','fnlwgt', 'education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss', 'hours_per_week', 'native_country','label'], index_col = False)
adult = pd.read_excel('dataSet_adult.xlsx')

In [ ]:
#adult.to_excel('dataSet_adult.xlsx')

In [2]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      32561 non-null  int64
 1   age             32561 non-null  int64
 2   workclass       32561 non-null  object
 3   fnlwgt          32561 non-null  int64
 4   education       32561 non-null  object
 5   education_num   32561 non-null  int64
 6   marital_status  32561 non-null  object
 7   occupation      32561 non-null  object
 8   relationship    32561 non-null  object
 9   race            32561 non-null  object
 10  sex             32561 non-null  object
 11  capital_gain    32561 non-null  int64
 12  capital_loss    32561 non-null  int64
 13  hours_per_week  32561 non-null  int64
 14  native_country  32561 non-null  object
 15  label           32561 non-null  object
dtypes: int64(7), object(9)
memory usage: 4.0+ MB

## Tomamos una muestra de 1000 observaciones

In [3]:
df = adult.sample(1000, random_state = 100).sort_index(axis = 0)
df

,Unnamed: 0,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,label
29,29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
31,31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
52,52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
57,57,35,Private,56352,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Puerto-Rico,<=50K
76,76,40,Private,32214,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32446,32446,53,Private,158993,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,Black,Female,0,0,38,United-States,<=50K
32449,32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K
32482,32482,32,Private,157747,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
32497,32497,34,Private,321709,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,28,United-States,<=50K
32512,32512,20,Private,270436,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K

In [5]:
df.index

Int64Index([   29,    31,    52,    57,    76,    81,   124,   142,   166,
              200,
            ...
            32295, 32299, 32340, 32373, 32388, 32446, 32449, 32482, 32497,
            32512],
           dtype='int64', length=1000)

In [6]:
df.index.name = 'index_adult'

In [7]:
df.index

Int64Index([   29,    31,    52,    57,    76,    81,   124,   142,   166,
              200,
            ...
            32295, 32299, 32340, 32373, 32388, 32446, 32449, 32482, 32497,
            32512],
           dtype='int64', name='index_adult', length=1000)

In [8]:
df.columns

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education_num', 'marital_status', 'occupation', 'relationship', 'race',
       'sex', 'capital_gain', 'capital_loss', 'hours_per_week',
       'native_country', 'label'],
      dtype='object')